* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #0543AC;
  /*background-color: #0066FF;*/
}

.grid {
  overflow: hidden;
}

.cell {
  display: inline-block;
  padding: 1px;


}

  /*remove this*/
#test {
  background-color: #FF66D7;
  height: 200px;
  width: 200px;
}
